<!-- forgot-password.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Recuperar Contraseña</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="email" type="email" placeholder="Ingrese su correo electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button expand="full" (click)="sendResetLink()">Enviar enlace de recuperación</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
